@model List<RecrutementApplication.Models.Candidature>

@{
    ViewData["Title"] = "Voir les Candidats";
}

@if (Model.Count == 0)
{
    <p>Aucune candidature pour cette offre pour le moment.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>CV</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var candidature in Model)
            {
                <tr>
                    <td>@candidature.Candidat.Nom</td>
                    <td>@candidature.Candidat.Prenom</td>
                    <td>@candidature.Candidat.Email</td>
                    <td>@candidature.Candidat.PhoneNumber</td>
                    <td><a href="@candidature.Candidat.CV" target="_blank">Voir CV</a></td>
                </tr>
            }
        </tbody>
    </table>
}

